

.model-login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;

}

.model-login-container {
    width: 60%;
    max-width: 90%; 
    height:600px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    padding: 0 10px 20px 10px;
    font-size: 15px;
}

.btn-close {
    position: absolute;
    right: -5px;
    top: -14px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.btn-close:hover{
    color: var(--primary);
    box-shadow: none;
}


.title-expert{
    margin-left:10px;
    border-left:7px solid #cc7b3d ;
    padding-left: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}


.select-smaller{
    font-size: 13.8px;
}

.btn-expert{
    color: #fff;
    background-color: rgb(144, 143, 140);
    border: none;
    border-radius: 6px;
    padding: auto;
    height: 36px;
    font-size: 15px;
}

.btn-expert:hover{
    
    background-color: rgb(162, 148, 121);
    color: #fff;
}




.card{
    height: 230px;
    margin: 0.4em;
}

.slick-arrow {
    color: #cc7b3d;
    display: none;
    z-index: 1000;
    margin: auto;
    background: none;
}


.star{
    cursor: pointer;
    color:#ffdb5b;
}

.star2{
    color: #b8b0b0;
}

.rating{
    margin-bottom: 10px;
}

.slick-dots {
    position: absolute;
    bottom: -20px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

}

@media screen and (max-width: 890px) {
    .card {
        height: 240px; 
        margin: 0.3em;
        font-size: 13.5px; 
        padding: auto;
    }
    .title-expert{
        font-size: 16px; 
    }
    .btn-close{
        top: -15px; 
        right: -12px;
    }

    .btn-expert{
        font-size: 14px;

    }
    
    .slick-dots {
        bottom: -25px; 
    }
}


@media screen and (max-width:800px){
    .card{
        height: 246px; 
        margin: 0.28em;
        font-size: 13.5px;
    }

    .slick-dots {
        bottom: -17px; 
    }
}

@media screen and (max-width: 660px) {
    .slick-slide{
        display: flex !important;
        margin: 20px auto; 
        height: fit-content;
        flex-direction: column;
        gap: 20px;
    }

    .btn-expert{
        margin-bottom: 0;
    }

    .slick-slider {
        width: 100%; 
        margin: 0 auto; 
        margin-bottom: 20px;
        display: flex !important;
        height: fit-content;
    }

    .card {
        width: 80%; 
        height: fit-content;
        margin: 0 auto; 
    }

    .card-body{
        height: fit-content;
    }

    .slick-dots {
        display: block; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}