.r-container .container {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

.r-container{
    overflow: hidden;
    position: relative;
    
}

.r-container .section-header {
    text-align: center;
    padding-bottom: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.r-container .section-header h2  {
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #9e9ea6;
    text-transform: uppercase;
}

.r-container .section-header h2 span {
    color: var(--primary);
}


a {
    text-decoration: none;
}

.r-card {
    gap: 0.6rem;
    padding: 3rem; /* Augmentez la valeur de rembourrage */
    border-radius: 15px; /* Augmentez le rayon de la bordure */
    width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
    box-shadow: -10px -5px 40px 0 rgba(92, 92, 92, 0.1);
}

.r-container .swiperSl{
    width: 500px;
}

.flexRow {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Créer trois colonnes de largeur automatique */
    gap: 10px; /* Ajouter un espacement entre les colonnes */
    align-items: center; /* Aligner les éléments verticalement */
}

.iconColumn {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 11.5px;
}

.r-card img {
    max-width: max-content;
    width: 110%;
}

.r-card>img {
    width: 100%;
}

.r-card>:nth-child(2)
{   
    font-size: 1.2rem;
    font-weight: 600;

}

.r-card>:nth-child(3){
    font-size: 1.5rem;
}

.r-card>:nth-child(4 ){
    font-size: 0.7rem;
    width: 15rem;
}

.r-card:hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
        180deg,
        rgba(255,255,255,0) 10%,
        rgba(225, 164, 10, 0.993) 220%
    );
    box-shadow: 0px 72px 49px -51px rgba(255,255,255,0);

}

.r-price{
    font-weight: 600;
    font-size: 16px;
    color: #0d1c36;;
}

.swiper-horizontal{

    overflow: visible;

}

.r-card .r-detail{
    color: rgb(140 139 139);
    font-size: 1.2px;
}


.r-buttons{
    position: absolute ;
    gap:1rem;
    top:-4rem;
    right:0rem;
    margin-left: 50px;


}

.r-buttons button {
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    color: rgb(208, 152, 48);
    border:none;
    border-radius: 5px;
    background-color: var(--secondary);
    cursor: pointer;
}

.r-buttons>:nth-child(1)
{
    background-color: var(--secondary);
    
}

.r-buttons>:nth-child(2)
{
    box-shadow: 0px 0px 5px 1px rgba(159, 158, 158, 0.25);
}

.r-btn{
    background-color: #cd7632e8;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
