  .section-bg {
    background-color: #eee;
  }
  
  .about .section-header {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  
  .about .section-header h2 {
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #9e9ea6;
    text-transform: uppercase;
  }

  .about{
    padding-bottom: 110px;
  }
  
  
  .about .section-header h2 span {
    color: var(--primary);
  }

  .about img {
      border-radius: 15px ;
  }
  
  .about .content{
    margin-bottom: 60px;

  }
  
  .timeline {
    width: 300px;
    border-left: 2px solid var(--primary);
    padding: 0 20px 0 20px;
  }
  
  .etape-box {
    padding: 20px 25px;
    padding-bottom: 10px;
    width: 190%; 
    max-width: 400px;
    position: relative;
    line-height:1.8;
    background: var(--secondary);
    box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 15px;
    word-wrap: break-word;
  }

  .etape-box .title{
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 600;
  }

  .etape-box p{
    padding-top: 10px;
    font-size: 15px;
  }

  .etape-box:before{
    content: '';
    display: block;
    width:10px;
    height: 11px;
    border-radius:50%;
    background-color: var(--secondary);
    border: 3px solid #ddd;
    position: absolute;
    top: 30px;
    left: -25px;
  }

  .etape-box i{
    padding-right: 10px;
    font-size: 19px;
    color: var(--primary);
  }
  


@media screen and (max-width: 480px) {
    .timeline {
        width: 100%;
    }
}