#notify .card {
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,20,.08), 0 1px 2px rgba(0,0,20,.08);
}
#notify .rounded-bottom {
    border-bottom-left-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}

#notify .avatar-xxl {
    height: 7.5rem;
    width: 7.5rem;
}
#notify .nav-lt-tab {
    border-top: 1px solid var(--dashui-border-color);
}
#notify .px-4 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

#notify .avatar-sm {
    height: 2rem;
    width: 2rem;
}

#notify .nav-lt-tab .nav-item {
    margin: -0.0625rem 1rem 0;
}
#notify .nav-lt-tab .nav-item .nav-link {
    border-radius: 0;
    border-top: 2px solid transparent;
    color: var(--dashui-gray-600);
    font-weight: 500;
    padding: 1rem 0;
}

#notify .pt-20 {
    padding-top: 8rem!important;
}

#notify .avatar-xxl.avatar-indicators:before {
    bottom: 5px;
    height: 16%;
    right: 17%;
    width: 16%;
}
#notify .avatar-online:before {
    background-color: #198754;
}
#notify .avatar-indicators:before {
    border: 2px solid #FFF;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: table;
    height: 30%;
    position: absolute;
    right: 5%;
    width: 30%;
}

#notify .avatar-xxl {
    height: 7.5rem;
    width: 7.5rem;
}
#notify .mt-n10 {
    margin-top: -3rem!important;
}
#notify .me-2 {
    margin-right: 0.5rem!important;
}
#notify .align-items-end {
    align-items: flex-end!important;
}
#notify .rounded-circle {
    border-radius: 50%!important;
}
#notify .border-2 {
    --dashui-border-width: 2px;
}
#notify .border {
    border: 1px solid #dcdcdc !important;
}

#notify .py-6 {
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
}

#notify .bg-gray-300 {
    --dashui-bg-opacity: 1;
    background-color: #cbd5e1!important;
}

#notify .mb-6 {
    margin-bottom: 1.5rem!important;
}
#notify .align-items-center {
    align-items: center!important;
}


#notify .mb-4 {
    margin-bottom: 1rem!important;
}

#notify .mb-8 {
    margin-bottom: 2rem!important;
}
#notify .shadow-none {
    box-shadow: none!important;
}

#notify .card>.list-group:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-width: 0;
}
#notify .card>.list-group:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-top-width: 0;
}
#notify .card>.list-group {
    border-bottom: inherit;
    border-top: inherit;
}
