
  .modalBackground {
      width: 100vw;
      height: 103vh;
      background-color: rgba(232, 220, 220, 0.3);
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      justify-content: center;
      align-items: center;
  }


  .modalContainer {
      width: 900px;
      max-width: 90%; 
      height:569px;
      display: flex;
      flex-direction: column;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10000;
      transform: translate(-50%, -50%);
      padding: 0 10px 20px 10px;
  }

  .modalContainer.expanded {
      height: 580px; 
  }

.containerLog {
    max-width: 900px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2500px;
  }

  .CloseBtn {
    position:absolute;
    top: 5px; 
    right:20px; 
    z-index: 99999; 
  }
  
  .CloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: var(--primary);
    cursor: pointer;
    border-radius: 4px;
    transition: all 300ms ease-in;
  }
  
  .CloseBtn button:hover{
    cursor:pointer;
    font-size: 19px;
    transform: scale(1.1);
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 2px #c48028;
    width: 20px;
    height: 27px;
    border-width: 5px;
  }

  

  .containerLog .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }

  .containerLog #flip:checked ~ .cover{
    transform: rotateY(-180deg);
  }

  .containerLog .cover .front,
  .containerLog .cover .back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .cover .back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .containerLog .front::before,
  .containerLog .back::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #c2904e;
    opacity: 0.5;
    z-index: 12;
  }

  .containerLog .cover::after{
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: transparent !important
  }

  .containerLog .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }

  .containerLog .cover img:hover{
    background-color: transparent !important
  }

  .form-content {
    margin-top: -20px; 
}

  .containerLog .forms{
    height: 100%;
    width: 100%;
    background: #fff;
  }

  .containerLog .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-content .login-form,
  .form-content .signup-form{
    width: calc(100% / 2 - 25px);

  }
  .forms .form-content .title{
    position: relative;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }

  .forms .form-content .login-form .title{
    margin-top: -5%;
  }

  .forms .form-content .signup-form .title{
    margin-top: 3%;
  }

  .forms .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: var(--primary);
  }

  .forms .signup-form  .title:before{
    width: 20px;
  }

  .form-content .reset-password-form{
    width: calc(100% / 2 - 25px);
    margin-top: -5%;

  }

  .form-content .reset-password-form .input-box button{
    margin-top: 70px;
  }

  .form-content .reset-password-form .rowback{
    font-size:28px;
    position: fixed;
    top:-7px;
    left: 7px;
    font-weight: 400;
    cursor: pointer;
  }

  .form-content .signup-form .text {
    margin-bottom: 20px;
    padding-top: 18px;
  }

  .error {
    font-size: 13px;
    color: #db0606;
    font-family: 'Poppins','sans-serif';
  }

  .forms .form-content .input-boxes{
    margin-top: 10px;
  }

  .forms .form-content .input-box{
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }

  .eye-icon {
    margin-left: 370px;
  }

  .forms .form-content .input-box button{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    margin-top: 25px;
    position: relative;
    background-color: #cc7f1a;
    border: none;
    border-radius: 6px;
    padding: 0;
    color: #fff;
    text-align: center;
    justify-content: center;
  }

  .forms .form-content .input-box button:hover{
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: #b16d15;
    color: #fff;
  }

  .form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .form-content .input-box input:focus,
  .form-content .input-box input:valid{
    border-color: var(--primary);
  }
  .form-content .input-box i{
    position: absolute;
    color: var(--primary);
    font-size: 17px;
  }
  .forms .form-content .text{
    font-size: 14px;
    font-weight: 500;
    margin-top: 22px;
    padding-top: 14px;
    margin-bottom: 20px;
    background: none;
    color: #333;
  }

  .error .prob {
    padding-right: 5px;
    color:#db0606;
  }
  

  .forms .form-content .text a{
    text-decoration: none;
    color: #2d2c2c;
    background: none;
    
  }



  .forms .form-content .text a:hover{
    text-decoration: underline;
    background: none;
  }

  .forms .form-content .sign-up-text:hover{
    background: none;
  }

  .forms .form-content button:hover{
    background: var(--primary);
  }

  .forms .form-content label{
    color: var(--primary);
    cursor: pointer;
  }

  .forms .form-content label:hover{
    text-decoration: underline;
    background: none;
  }

  .forms .form-content .login-text,
  .forms .form-content .sign-up-text{
    text-align: center;
    margin-top: 20px;
  }

  .containerLog #flip{
    display: none;
  }


  @media screen and (max-width: 730px) {
    .containerLog .cover{
      display: none;
      
    }
    .containerLog{
      width: 90%;
      height: fit-content; 
      padding:20px;
  }
  .modalContainer {
    width: 900px;
    max-width: 90%; 
    max-height:569px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 51%;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    padding: 0 10px 20px 10px;
  }

    .modalContainer {
      width: 90%;
      height: fit-content; 
  }

    .form-content .login-form,
    .form-content .signup-form,
    .form-content .reset-password-form{
      width: 100%;
    }

    .form-content .signup-form{
      display:none;
    }

    .containerLog #flip:checked ~ .forms .signup-form{
      display: block;
    }

    .containerLog #flip:checked ~ .forms .login-form{
      display:none;
    }

    .containerLog #flip:checked ~ .forms .reset-password-form{
      display: block;
    }

    .signup-form{
      padding: 0px 8px;

    }
    
    .login-form{
      padding: 0px 8px;
      padding-bottom: 8%;
      margin-top: 12%;
    }

    .reset-password-form{
      padding:210px 8px;
      padding-top: 50%; 
      margin-bottom: -10%;
    }

    .reset-password-form .title{
      margin-top: -11%;
      margin-bottom: 20px;
    }

    .forms .form-content .reset-password-form .input-box button{
      margin-top: 50px;
    }
    

    .login-form, .signup-form{
        padding-top: 80px; 
        margin-bottom: -5%;
    }
    
    
    .CloseBtn {
        position: relative;
        top: -205px; 
        right: -91%; 
        
    }

    .form-content .reset-password-form .rowback {
        top: 5px;
        left: 6px; 
    }
    
    .forms .form-content .signup-form .title{
      margin-top: -2%;
    }

    .forms .form-content .signup-form{
      margin-bottom: -8%;
    }

    .forms .form-content .login-text,
    .forms .form-content .sign-up-text{
      text-align: center;
      margin-top:10px;
    }

    .eye-icon {
      margin-left: 350px;
    }
    

  }
  






