
.card1 {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    padding: 30px;
    border-radius: .25rem;
}
.pr{
    padding:20px;
}

.profimg{
    padding-top: 0;
}

.list-group-item{
    padding-left: 5px;
    padding-bottom: 6px;
}

.custom-card{
    width: 350px;
    height: 130px;
    border: 1px solid rgb(186, 184, 184);
}

.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}


.inbox-widget .inbox-item {
    border-bottom: 1px solid #f3f6f8;
    overflow: hidden;
    padding: 10px 0;
    position: relative
}

.inbox-widget .inbox-item .inbox-item-img {
    display: block;
    float: left;
    margin-right: 15px;
    width: 40px
}

.inbox-widget .inbox-item img {
    width: 40px
}

.inbox-widget .inbox-item .inbox-item-author {
    color: #313a46;
    display: block;
    margin: 0
}

.inbox-widget .inbox-item .inbox-item-text {
    color: #98a6ad;
    display: block;
    font-size: 14px;
    margin: 0
}

.inbox-widget .inbox-item .inbox-item-date {
    color: #98a6ad;
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 12px
}

.btn-update{
    margin-top: 35px;
    margin-bottom: 10px;
}

/* .list-group li:hover{
    color: #d38041;
    background-color: #e9b389;
    cursor: pointer;
}

.list-group li i:hover{
    color: #d38041;
} */

.list-group-item i,.link{
    color: #747373;
}

.list-group-item {
    color: #747373;
    border-radius: 5px;
    cursor: pointer;
}

.list-group-item:focus{
    color: #cb6a20;
    background-color: #f0d6ac;
}

.list-group-item:hover i,
.list-group-item:hover .link {
    color: #d38041;
}

.list-group-item.active {
    color: #cb6a20;
    background-color: #f0d6ac;
}

.list-group-item.active i,
.list-group-item.active .link {
    color: #d38041;
}

.btn-ed{
    height: 45px;
    padding: 20px;
    padding-top: 11px;
    border: none;
    border-radius: 10px;
    background-color: #d38041;
    color: #fff;
}

.btn-ed:hover{
    background-color: #d07631;
    color: #fff;
}

.input-no-border {
    border: none;
    outline: none; 
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d3d3d3; 
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.input-no-border:focus,
.Input-no-border:valid{
    border-color: var(--primary);
}

.input-no-border1 {
    border: none;
    outline: none; 
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d3d3d3; 
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.input-no-border1:focus,
.Input-no-border1:valid{
    border-color: var(--primary);
}