.header-wraper{
    position:relative;
    padding: 0;
    background:url(../../back.png) no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    height: 75vh;
    margin-bottom: 30px;
  }
  
  #hero:before {
    content: "";
    background: rgba(13, 20, 26, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--secondary);
    font-size:20px;
  }
  
  
  #hero h2 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--primary);
  }
  
  #hero .btn {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13.5px;
    display: inline-block;
    padding: 15px 15px 15px;
    margin-top: 15px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: var(--primary);
    border: 2px solid var(--primary);
  
  }