.sell{
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    margin-top: 0;

}

.car-detail .nav-link.active {
    background-color:white; 
    color: rgb(189, 125, 5); 
    font-weight: 600;
    position: relative;
}

.car-detail .nav-link.active::after {
    content: ""; 
    position: absolute; 
    bottom: 0; 
    align-items: center;
    width: 50%; 
    height: 1.5px; 
    background-color: rgb(189, 125, 5) 
}

.car-detail .nav-link {
    color: rgb(30, 29, 29); 
    cursor: pointer;
}

.car-detail .nav-link:not(.active) {
    background-color: white; 
    color: rgb(30, 29, 29);
    font-weight: 600;
}

.btns{
        background-color: #c0843f;
        font-weight: 400;
        padding: 0.5rem;
        color: white;
        border: none;
        border-radius: 4px;
}

.btns:hover{
    cursor: pointer;
    background-color: var(--primary);
}

.butsell{
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.butsell .btns1{
    margin-right: 10px;
}

.swiper{ 
    width: 100%;
    height: 100%;
}

.product-swiper {
    margin-bottom: 0;
}

.mySwiper2{
    height: 55%;
    width: 100%;
}

.sell .mySwiper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background: #fff;

}

.swiper-slide img{
    display: block;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.mySwiper{
    height: 18%;
    width: 80%;
}

.sell .mySwiper .swiper-slide{
    width: 25%;
    height: 100%;
    opacity: 0.5;
}

.sell .mySwiper .swiper-slide-thumb-active{
    opacity: 1;
}

.swiper-slide .swiper-slide-visible .swiper-slide-fully-visible{
    opacity: 1;
}

.swiper-slide .swiper-slide-visible .swiper-slide-fully-visible .swiper-slide-next{
    opacity: 1;
}

.sell .mySwiper .swiper-slide:hover {
    opacity: 1;
    cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.sell .swiper-button-next , .sell .swiper-button-prev{
    color: #eee;
    font-weight: bold;
}

.sell .swiper-button-next::after , .sell .swiper-button-prev::after{
    font-size: 12px;
    background: #333;
    padding: 10px;
}

.sell 
.swiper-horizontal {
    overflow: hidden;
}

    .card-title{
        font-size: 17px;
        font-weight: 600;
    }

    .card-title h5 {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        font-weight: 650;
        text-transform: uppercase;
        font-size: 21px;
    }

    .info{
        font-size: 15px;
    }

    
    .tab-content h5{
        padding-bottom: 9px;
        padding-top: 12px;
        padding-left: 11px;
        color: rgb(80, 80, 80);
        font-weight: 600;
        text-transform: uppercase;
    }
    .portfolio-info {
        padding: 25px;
        margin-top: 18px;
        padding-top: 22px;
        padding-bottom: 30px;
        box-shadow: 0px 0 30px rgba(11, 35, 65, 0.08);
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .portfolio-info1 {
        padding:15px;
        margin-left: 8px;
        width:65%;
        margin-right: 12px;
        box-shadow: 0px 0 30px rgba(11, 35, 65, 0.08);
        border-radius: 10px;
        margin-top: -7%

    }

    .portfolio-info2 {
        padding: 15px;
        padding-top: 26px;
        padding-bottom: 20px;
        box-shadow: 0px 0 30px rgba(11, 35, 65, 0.08);
        border-radius: 10px;
        margin-top: -28%;
    }


    .portfolio-info h4 {
        font-size: 22px;
        font-weight: 700;
    }

    .portfolio-info p{
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }

    .portfolio-info .prix{
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
    }


    .portfolio-info span {
        display: inline-block; 
        text-align: end; 
    }

    .portfolio-info .details {
        color: var(--black);
        padding-bottom: 10px;
        
    }

    .portfolio-info .details:hover{
        cursor: pointer;
        color: var(--primary);
    }

    .portfolio-info .garantie{
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }

    .portfolio-info ul {
        list-style: none;
        padding: 0;
        font-size: 15px;
    }

    .portfolio-info ul li+li {
        margin-top: 10px;
    }

    .portfolio-info button{
        width:100%;
        height: 50%;

    }


    .btnv:hover{
        cursor: pointer;
        background-color: #b0b0b0af;
        border: none;
        color: white;

    }

    .optionv{
        padding-bottom: 13px;
        padding-top: 10px;
        border-bottom: 1px solid #eee;
    }

    .livraison{
        padding-bottom: 13px;
        padding-top: 13px;
        border-bottom: none;
    }

    .comm span {
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-size: 17px;
    }
    
    .comm span::after {
        content: '';
        position: absolute;
        left: 43px;
        bottom: 0;
        width: 28%;
        height: 3px;
        background-color: rgb(189, 125, 5);
    }

    .comm h4{
        font-weight: 600;
        font-size: 28px;
    }

    .fav , .com{
        color: #a09e9e;
    }
    
    .fav:hover , .com:hover{
        cursor: pointer;
        color: rgb(189, 125, 5);
    }

    .bi.bi-heart-fill.fav.active {
        color: rgb(189, 125, 5); 
    }




    @media screen and (max-width: 1210px) {
        .product-swiper {
            margin-bottom: 40px;
            height: 120%;
        }
    
        .portfolio-info {
            margin-top: 0px;
            padding: 15px; 
            margin-left: 0;
            width: 95%; 
            margin: auto; 
        }
    
        .portfolio-info .butsell {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 10px; 
        }
    
        .portfolio-info .butsell .btns1 {
            margin-bottom: 10px; 
            margin-right: 0;
        }
    
        .portfolio-info {
            padding-top: 10px;
            width: 100%;
        }
    
        .portfolio-info h4 {
            font-size: 20px;
        }
    
        .portfolio-info p {
            font-size: 14px;
        }

    
        .portfolio-info2 .butsell {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 10px; 
        }
    
        .portfolio-info2 .butsell .btns1 {
            margin-bottom: 10px; 
            margin-right: 0;
        }
    
        .portfolio-info2 {
            margin-top:0;
            padding-top: 10px;
            width: 100%;
            padding: 15px; 
            margin-left: 0;
            margin: auto; 
        }
    
        .portfolio-info2 h4 {
            font-size: 20px;
        }
    
        .portfolio-info2 p {
            font-size: 14px;
        }
    
        .prix span {
            font-size: 15px;
        }
    
        .garantie span {
            font-size: 15px;
        }
    
        ul li {
            font-size: 14px;
        }
    
        .optionv {
            display: flex;
            flex-wrap: wrap;
        }
    
        .optionv button {
            font-size: 11px;
            margin-bottom: 5px;
            flex: 1;
            padding-bottom: 5px;
            max-width: calc(50% - 5px);
        }
    
        .livraison {
            margin-bottom: 0px;
            padding-top: 13px;
            border-bottom: none;
            font-size: 13px;
        }

        .portfolio-info1 {
            margin-top: 70px;
            margin-bottom: 0;
            margin-left: 10px;
            width: 96%;
        }
    }


    
    

    /* @media screen and (max-width: 650px) {
        .product-swiper {
            margin-bottom: 0;
        }
    
        .portfolio-info {
            margin-top: 0px;
            padding: 15px; /* Augmenter le padding */
          /*  margin-left: 0;
            width: 95%; 
            margin: auto; 
        }
    
        .portfolio-info .butsell {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 10px; 
        }
    
        .portfolio-info .butsell .btns {
            margin-bottom: 10px; 
            width: auto;
        }
    
        .portfolio-info {
            padding-top: 10px;
            margin-top: 10px;
            width: 100%;
        }
    
        .portfolio-info h4 {
            font-size: 20px;
        }
    
        .portfolio-info p {
            font-size: 14px;
        }
    
        .prix span {
            font-size: 15px;
        }
    
        .garantie span {
            font-size: 15px;
        }
    
        ul li {
            font-size: 14px;
        }
    
        .optionv {
            display: flex;
            flex-wrap: wrap;
        }
    
        .optionv button {
            font-size: 11px;
            margin-bottom: 5px;
            flex: 1;
            padding-bottom: 5px;
            max-width: calc(50% - 5px);
        }
    
        .livraison {
            margin-bottom: 0px;
            padding-top: 13px;
            border-bottom: none;
            font-size: 13px;
        }
    }*/
    
     