/*.about .container {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    margin-top: 40px;
  }

  .about .count-box {
    padding: 60px 0;
    width: 100%;
  }
  
  .about .count-box i {
    display: block;
    font-size: 48px;
    margin-right: 10px;
    color: var(--primary);
    float: left;
    line-height: 0;
  }
  

  .about  .count-box .counter{
    font-size:25px;
    font-weight: 500;
    color: var(--primary);
  }
  
  .about .count-box p {
    margin: 0 0 0 60px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(77, 74, 74)
  }
  
  
  .about .content {
    font-size: 15px;
  }
  
  .about .content h3 {
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
  }

  .about .row img{
    height: 300px;
    width:500px;
    margin-left: 108px;

  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
    padding-left: 28px;
    margin-left: 25px;
    position: relative;
  }
  
  .about .content ul i {
    font-size: 24px;
    color: var(--primary);
    position: absolute;
    left: 0;
    top: -2px;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  */

  
  .section-bg {
    background-color: #eee;
  }
  
  .about .section-header {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  
  .about .section-header h2 {
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #9e9ea6;
    text-transform: uppercase;
  }
  
  
  .about .section-header h2 span {
    color: var(--primary);
  }

  .about .about-img {
    height: 380px;
  }
  
  .about .content{
    margin-bottom: 60px;

  }
  .about .content h4{
    margin-bottom: 20px;
    font-weight: 600;
  }

  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding: 0 0 8px 26px;
    position: relative;
    margin-left: 20px;
  }
  
  .about .content ul i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
    color: var(--primary);
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
