*{
    font-family: 'Poppins', sans-serif; 
}
.custom-select {
    height: 2.8rem; 
    overflow-y:scroll; 
    font-size: 15px;
    color: #595959;

}

.form-control{
    height: 2.8rem; 
    margin: 1rem auto;
}

.form-control:hover,
.form-control:focus{
    box-shadow: 0 0 5px orange;
    border: 1px solid orange ;
}

.custom-select:focus,
.custom-select:hover{
    box-shadow: 0 0 5px orange;
    border: 1px solid orange ;
}


.choix{
    border:1px solid #ccc;
    width: 62px;
}

.boximg{
    border: 2px solid #cc7b3d;
    color: #cc7b3d;
    padding: 10px;
}

.deleteCar{
    position: absolute;
    top: 62px;
    right:70px;
    z-index: 10;
    background-color: #e8b188;
    color: #1b1919;
    font-size: 30px;
    border: none ;
    border-radius: 4px;
    transition: all 300ms ease-in;
}

.deleteCar:hover{
    background-color: #cc7b3d;
    color:#3c3b3b ;
    cursor:pointer;
    transform: scale(1.1);
}

