

#payment .model-login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

}


#payment .model-login-container {
    width: 60%;
    max-width: 90%; 
    height:500px;
    max-height: 70vh;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    padding: 0 10px 20px 10px;
    font-size: 15px;
}

#payment .card {
    width: 100%;
    height:100%;
}

.btn-close {
    position: absolute;
    right: -5px;
    top: -14px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.btn-close:hover{
    color: var(--primary);
    box-shadow: none;
}


.title-expert{
    margin-left:10px;
    border-left:7px solid #cc7b3d ;
    padding-left: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}


.select-smaller{
    font-size: 13.8px;
}

.btn-expert{
    color: #fff;
    background-color: rgb(144, 143, 140);
    border: none;
    border-radius: 6px;
    padding: auto;
    height: 36px;
    font-size: 15px;
}

.btn-expert:hover{
    
    background-color: rgb(162, 148, 121);
    color: #fff;
}




.card{
    height: 230px;
    margin: 0.4em;
}

.slick-arrow {
    color: #cc7b3d;
    display: none;
    z-index: 1000;
    margin: auto;
    background: none;
}


.star{
    cursor: pointer;
    color:#ffdb5b;
}

.star2{
    color: #b8b0b0;
}

.rating{
    margin-bottom: 10px;
}

.slick-dots {
    position: absolute;
    bottom: -20px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

}

@media screen and (max-width: 890px) {
    .card {
        height: 240px; 
        margin: 0.3em;
        font-size: 13.5px; 
        padding: auto;
    }
    .title-expert{
        font-size: 16px; 
    }
    .btn-close{
        top: -15px; 
        right: -12px;
    }

    .btn-expert{
        font-size: 14px;

    }
    
    .slick-dots {
        bottom: -25px; 
    }
}


@media screen and (max-width:800px){
    .card{
        height: 246px; 
        margin: 0.28em;
        font-size: 13.5px;
    }

    .slick-dots {
        bottom: -17px; 
    }
}

@media screen and (max-width: 660px) {
    .slick-slide{
        display: flex !important;
        margin: 20px auto; 
        height: fit-content;
        flex-direction: column;
        gap: 20px;
    }

    .btn-expert{
        margin-bottom: 0;
    }

    .slick-slider {
        width: 100%; 
        margin: 0 auto; 
        margin-bottom: 20px;
        display: flex !important;
        height: fit-content;
    }

    .card {
        width: 80%; 
        height: fit-content;
        margin: 0 auto; 
    }

    .card-body{
        height: fit-content;
    }

    .slick-dots {
        display: block; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

#payment-form button{
    font-weight: 400;
    padding: 0.6rem 2rem;
    margin-top: 10px;
    color: white;
    background: rgb(208, 138, 8);
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in;
}

#payment .p-text h3{
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 31px;
}


#payment-form button:hover{
    cursor:pointer;
    transform: scale(1.07);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@800&display=swap');




#payment .form-control {
    height: 25px;
    width: 150px;
    border: none;
    border-radius: 0;
    font-weight: 800;
    padding: 0 0 5px 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin: 0;
    font-size: 14px;
}

#payment .form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
}

#payment .form-control2 {
    font-size: 14px;
    height: 20px;
    width: 55px;
    border: none;
    border-radius: 0;
    font-weight: 800;
    padding: 0 0 5px 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin: 0;
}

#payment .form-control2:focus {
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
}

#payment .form-control3 {
    font-size: 14px;
    height: 20px;
    width: 30px;
    border: none;
    border-radius: 0;
    font-weight: 800;
    padding: 0 0 5px 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin: 0;
}

#payment  .form-control3:focus {
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
}



#payment .text-muted {
    font-size: 10px;
}

#payment .textmuted {
    color: #6c757d;
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

#payment .btn.btn-primary {
    width: 100%;
    height: 55px;
    border-radius: 0;
    padding: 13px 0;
    background-color: black;
    border: none;
    font-weight: 600;
}

#payment .btn.btn-primary:hover .fas {
    transform: translateX(10px);
    transition: transform 0.5s ease
}


#payment .fw-900 {
    font-weight: 900;
}

#payment ::placeholder {
    font-size: 12px;
}

#payment .ps-30 {
    padding-left: 30px;
}

#payment .h4 {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 800 !important;
}

#payment .textmuted,
#payment h5,
#payment .text-muted {
    font-family: 'Poppins', sans-serif;
}


