.devenirexpert{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 100px;
}

.expform {
    max-width: 60%; 
}

.expform .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-top: 100px;
}

.expform .title::before{
    content: '';
    position: absolute;
    padding-bottom: 3px;
    left: 0;
    bottom:0;
    height: 2px;
    width: 30px;
    background: var(--primary);
}



.expform form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 12px 0;
} 

.user-details .input-box1{
    width: 100%;
    margin-bottom: 15px;
}

.form-column {
    width: calc(50% - 11px); 
    margin-bottom: 15px;
}

.user-details .input-box1 .details,
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box1 input,
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d3d3d3; 
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}


.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .input-box1 input:focus,
.user-details .input-box1 input:valid{
    border-color: var(--primary);
}

.upload{
    height: 150px;
    border: 2px dashed #727272;
    align-items:center ;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.upload p,i{
    color: var(--primary);
}

.upload span {
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    text-align: center;
    margin-left: 36px;
}

.upload p{
    font-size:17.5px ;
    font-weight: 500;
    margin-top: 9px;
}

.file-card {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: #fff;
    border:1px solid rgba(117,96,255,0.281);
    border-radius:6px;
    padding: 8px 15px;
}

.file-info{
    flex:1;
    display: flex;
    align-items: center;
    gap: 15px;
}

.file-info h6{
    flex: 1;
    font-size: 13px;
    font-weight: 400;
}

.progress-bg{
    width:100%;
    height:5px;
    background-color: rgba(0,0,0,0.076);
    border-radius: 8px;
    margin-top: 8px;
}

.progress{
    width:0%;
    height:5px;
    background-color: var(--primary);
    border-radius: 8px;
    transition: width 0.5s ease;
}

.ficon{
    font-size:30px ;
    color: var(--primary);
}

.fclose-icon{
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.file-info button{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1px;
    color:var(--primary);
    background: #fff;
    border: none;
    border-radius: 30px;
}

.upload-btn{
    width: 150px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: var(--primary);
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.upload-btn1{
    width: 180px;
    font-size: 16.5px;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(135deg,#d37f25e2,#cd8c47,#b87f15) ;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.upload-btn1{
    background-color: var(--primary);
}


.formbutton{
    width: 250px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    background: linear-gradient(135deg,#d37f25e2,#cd8c47,#b87f15) ;
}

.formbutton:hover{
    background:var(--primary);
}

.conf {
    gap: 10rem;
    padding: 5rem;
    margin: 7rem;
    border-radius: 10px;
    max-width: max-content;
    margin:auto;
    transition: all 300ms ease-in;
    box-shadow: -10px -5px 40px 0 rgba(213, 203, 190, 0.7);
}


@media (max-width: 768px)
{
    .expform{
        max-width: 100%
    }
    
    .form-column {
        width: 100%; 
        margin-bottom: 15px;
    }

    .file-card{
        width: 250px;
    }

    .title{
        margin-top: 10px;
    }


}