.r-container .container {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

.r-container{
    overflow: hidden;
    position: relative;
    
}

.r-container .section-header {
    text-align: center;
    padding-bottom: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
.r-container .section-header h2  {
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #9e9ea6;
    text-transform: uppercase;
  }

  .r-container .section-header h2 span {
    color: var(--primary);
  }
  

  a {
    text-decoration: none;
  }


.r-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin:auto;
    transition: all 300ms ease-in;
    box-shadow: -10px -5px 40px 0 rgba(92, 92, 92, 0.1);
}

.r-card>img{
    width:100%;
    max-width: 15rem;
}

.r-card>:nth-child(2)
{   
    font-size: 1.2rem;
    font-weight: 600;

}

.r-card>:nth-child(3){
    font-size: 1.5rem;
}

.r-card>:nth-child(4 ){
    font-size: 0.7rem;
    width: 15rem;
}

.r-card:hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
        180deg,
        rgba(255,255,255,0) 10%,
        rgba(225, 164, 10, 0.993) 220%
    );
    box-shadow: 0px 72px 49px -51px rgba(255,255,255,0);

}

.swiper-horizontal{

    overflow: visible;

}


.r-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
}

.r-container {
    overflow: hidden;
    position: relative;
    padding: 20px; 
}
