
.card1 {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    padding: 30px;
    border-radius: .25rem;
}
.pr{
    padding:20px;
}

.profimg{
    padding-top: 0;
}

.list-group-item{
    padding-left: 5px;
    padding-bottom: 6px;
}

.custom-card{
    width: 350px;
    height: 130px;
    border: 1px solid rgb(186, 184, 184);
    display: flex;
    padding: 25px;
    transition: all 300ms ease-in;
    
}

.custom-card p{
    font-size: 17px;
}

.custom-card .card-icon{
    color: #878787;
    font-size: 27px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.custom-card:hover{
    scale: 1.025;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(232, 143, 75, 0.801);
}

.custom-card:hover i {
    color: #d38041;
}


.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}


.inbox-widget .inbox-item {
    border-bottom: 1px solid #f3f6f8;
    overflow: hidden;
    padding: 10px 0;
    position: relative
}

.inbox-widget .inbox-item .inbox-item-img {
    display: block;
    float: left;
    margin-right: 15px;
    width: 40px
}

.inbox-widget .inbox-item img {
    width: 40px
}

.inbox-widget .inbox-item .inbox-item-author {
    color: #313a46;
    display: block;
    margin: 0
}

.inbox-widget .inbox-item .inbox-item-text {
    color: #98a6ad;
    display: block;
    font-size: 14px;
    margin: 0
}

.inbox-widget .inbox-item .inbox-item-date {
    color: #98a6ad;
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 12px
}

.btn-update{
    margin-top: 35px;
    margin-bottom: 10px;
}

/* .list-group li:hover{
    color: #d38041;
    background-color: #e9b389;
    cursor: pointer;
}

.list-group li i:hover{
    color: #d38041;
} */

.list-group-item i,.link{
    color: #747373;
}

.list-group-item {
    color: #747373;
    border-radius: 5px;
    cursor: pointer;
}

.list-group-item:focus{
    color: #cb6a20;
    background-color: #f0d6ac;
}

.list-group-item:hover i,
.list-group-item:hover .link {
    color: #d38041;
}

.list-group-item.active {
    color: #cb6a20;
    background-color: #f0d6ac;
}

.list-group-item.active i,
.list-group-item.active .link {
    color: #d38041;
}

.addimg{
    font-size: 15px;
    position: absolute;
    top: 92px;
    right:77%;
    color: #d38041;
    cursor: pointer; 
}

