header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 75px;
	padding: 0 2rem;
	transition: all 0.5s;
	background-color: var(--black);
	color: var(--secondary);
}


.header .logo img {
	max-height: 40px;
	margin-right: 6px;
}




.logo {
    flex-shrink: 0; 
}


nav{
	display: flex;
	align-items: center;
	height: 75px;
	padding: 0;
    position: sticky;
    top:0;
	transition: all 0.5s;
	background-color: var(--black);
	color: var(--secondary);
	flex-grow: 1; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}



#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 ;
	margin: 0;
}

#navbar li {
	list-style: none;
	position: relative;
    padding:0.75rem;
	white-space: nowrap;
}

#navbar li a{
	text-decoration: none;
	font-weight: 400;
	cursor: pointer;
	display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.95rem;
    color:var(--secondary);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}
#navbar li a.active,
#navbar li a:hover{
	color: var(--primary);
}


#navbar li:not(:last-child) a:hover::after,
#navbar li:not(:last-child) a.active::after{
	content: "";
	width: 30%;
	height: 2px;
	background: var(--primary);
	position: absolute;
	bottom: -4px;
	left: 0px;
}

#navbar .btn-login {
	font-size: 15px;
	color: #fff;
	background-color: var(--primary);
	padding: 8px 20px;
	margin-left: 30px;
	border-radius: 5px;
	border: none;
	transition: all 300ms ease-in;
	text-decoration: none;
}

#navbar .btn-login:hover,
#navbar .btn-login:focus:hover {
	color: #fff;
	background: var(--primary-hover);
	transform: scale(1.1);
}


#mobile {
	display: none;
}

#mobile i{
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (max-width:998px) {
	.header {
		max-width: 100%;
	}
	.header .navbar {
		max-width: 100%;
	}
	#navbar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: -100%; 
		left: 0; 
		height: 100%;
		width: 100%; 
		background: var(--black);
		padding-right: 50px;
		transition: top 0.3s ease; 
		
	}
	#navbar.active {
		top: 0; 
	}
	
	#navbar li{
		margin-bottom: 15px;
	}

	#navbar .btn-login {
		margin-left: 0;
	}

	#mobile {
		display: block;
		position: absolute; 
	}
	
	#mobile i {
		font-size: 24px;
		cursor: pointer;
		color: var(--secondary); 
	}
	
	#mobile i.fa-times {
		color: white;
	}
	


}


