.footer {
    background: var(--black);
    padding: 0 0 10px 0;
    color: #fff;
    font-size: 14px;
}

.footer .footer-top {
    padding: 60px 0px 30px 0;
    
}

.footer .footer-top .footer-info {
    background: #29292a;
    border-top: 4px solid #de670b;
    text-align: center;
    padding: 26px 20px;
}

.footer .footer-top .footer-info h4{
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}

#footer .footer-top .desc{
    margin-right:70px;
}



#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    background: #181818;
}

#footer .footer-top .social-links a:hover {
    color: #fff;
    background: #dc8542;
    cursor: pointer;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;

}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #d6752a;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    transition: all 300ms ease-out;
}

#footer .footer-top .footer-links ul a:hover {
    color: #d6752a;
    cursor:pointer;
    scale: scale(1.1);
}


#footer .footer-top .footer-newsletter form {
    margin-top: 10px;
    width: 80%;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;

}


/*#footer .footer-top .footer-newsletter{
    margin-left: 60px;
}*/



#footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 3px;
    width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background:#d6752a;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #cc6b20;
}


#footer .footer-top .footer-newsletter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-newsletter ul i {
    padding-right: 10px;
    color: #d6752a;
    font-size: 16px;
    line-height: 1;
}

#footer .footer-top .footer-newsletter ul li {
    padding-bottom: 9px;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-newsletter ul li strong{
    padding-right:5px ;
}


#footer .copyright {
    border-top: 1px solid #d6752a;
    text-align: center;
    padding-top: 30px;
}

#footer .copyright span{
    color:#d6752a ;
}

#footer .foot-logo{
    max-width: 140px;
    margin-bottom: 10px;
}


@media (max-width: 575px) {
    #footer .footer-top .footer-info {
        margin: -30px 0px 30px 0;
    }
}


