.search-container {
    padding: 0 0.8rem; 
    width: 81.7%;
    border-radius: 80px;
    margin-left: 9.2%; 
}

.search-container .row {

    border-radius: 10px;
}

.search-container .col{
    margin: 16px;
}


.search-container .col span{
    margin-bottom: 5px;
}

.search-container .col1{
    margin: 23px;

}

.form-select:focus,
.form-select:hover{
    box-shadow: 0 0 5px #cd7632e8;
    border: 1px solid #cd7632e8;
    cursor: pointer;
}

.form-select {
    height: 2.8rem; 
    width: 10rem;
    overflow-y:scroll; 
    font-size: 15px;
    color: #595959;

}

.custom-select1 {
    flex-wrap: wrap;

}



.search-button1 {
    display: inline-block;
    justify-content: space-between; 
    margin-right: 20px;
    height: 45px;
    padding: 8px;
    background-color:#cd7632e8 ;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    border: none;
}

.search-button {
    display: inline-block;
    padding: 8px;
    height: 45px;
    justify-content: space-between; 
    background-color:#cd7632e8;
    transition:all 0.3s ease;
    color: white;
    font-size: 16px;
    border: none;
}

.search-button1:hover,.search-button:hover{
    background-color: rgb(183, 122, 9);
    cursor:pointer;
    transform: scale(1.1);
}
