.breadcrumbs {
    padding: 15px 0;
    min-height: 40px;
    margin-top: 82px;
    padding-left: 33px; 
}


.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 600;
    color: #0b2341;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #123a6d;
    content: "/";
}

.breadcrumbs a{
    text-decoration: none;
    color: var(--black);
}

.breadcrumbs a:hover{
    color: var(--primary);
}



@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 74px;
    }
}


@media (max-width: 350px) {
    .breadcrumbs {
        padding-left: 40px; 
    }
}
