.expert .section-header {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 30px;
}

.expert  .section-header h2  {
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #9e9ea6;
  text-transform: uppercase;
}

.expert  .section-header h2 span {
  color: var(--primary);
}

.expert .row{
  padding-top:65px;
  padding-bottom:30px;

}

.accordion{
  margin-top: 2rem;
  border: none;
}

.accordionItem  {
  background: var(--secondary);
  border: 0.8px solid rgba(128,128,128,0.143);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.accordionItem .expanded{
  box-shadow: rgb(240, 199, 141);
  border-radius: 6px;
}

.accordionButton{
  background:  var(--secondary);
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;

}

.icon {
  color:var(--primary);
  font-size: 20px;
  right: 0;
  top: 0;
}

.accordionItem .primaryText{
  font-size: 16px;
  color: rgb(51, 49, 45);
  padding-left: 20px;
}

button a{
  text-decoration: none;
  color: var(--secondary);
}


