.clients {
  background-color: var(--black);
  padding: 12px 0;
  margin-top: 60px;
  text-align: center;
  justify-content: center;
}

.slick-slide img {
  width: 100%;
  height: 100px;
}
.slick-arrow {
  display: none!important; 
}

#clients .slick-dots {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button:hover {
  color: var(--primary) !important;
}

.sp {
  max-width: 50%;
  height: auto;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  filter: grayscale(10);
}

.sp:hover {
  filter: none;
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 768px) {
  .slick-slide img {
    max-height: 90px;
  }
}
