body{margin-top:20px;}

.content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:20px;
    padding:25px 45px;
}

#comments .btn {
	margin-top:5px;
    
}

#comments form fieldset {
	clear:both;

}

#comments form textarea {
	height:120px;
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:25px 45px;
	margin-bottom:10px;
    font-size: 15.7px;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
    display: flex;

}

#comments .media-detail:hover{
	cursor: pointer;
	color: rgb(205, 139, 16);
}



#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}



#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments  .btn-normal{
    background-color: rgb(205, 139, 16);
    color: #FFFFFF;
    padding-left: 30px;
    padding-right:30px;
}

#comments .media-detail a{
    color:rgb(205, 139, 16)
}

#comments .media-detail li:last-child {
	padding-right:0;
    margin-bottom: 0;
}

.error-box {
    background-color: #fff; 
    padding: 10px; 
    margin-bottom: 20px; 
	margin-left: 155px;
	width: fit-content;
    border: 1px solid #c31111; 
    border-radius: 5px; 
    color: #c31111 ;
    font-weight: 600; 
}

.error-box1 {
    background-color: #fff; 
    padding: 10px; 
    margin-bottom: 20px; 
	margin-left: 48px;
	width: fit-content;
    border: 1px solid #c31111; 
    border-radius: 5px; 
    color: #c31111 ;
    font-weight: 600; 
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}